
		<footer class="siteFooter">
			<section class="siteFooter__banners">
				<div class="wrap">
					<ul class="banners">
						<li><a href="https://www.m3.com/" target="_blank"><img src="<%- $path %>../img/common/bnr-m3.jpg" width="200" alt=""></a></li>
						<li><a href="https://www.shiga-med.ac.jp/" target="_blank"><img src="<%- $path %>../img/common/bnr-smu.jpg" width="200" alt=""></a></li>
						<li><a href="http://www.shiga-med.ac.jp/hospital/" target="_blank"><img src="<%- $path %>../img/common/bnr-smh.jpg" width="200" alt=""></a></li>
					</ul>
				</div>
			</section>
			<div class="siteFooter__backToTop">
				<i></i>
			</div>
			<section class="siteFooter__creditArea">
				<div class="wrap">
					<div class="creditArea">
						<div class="creditArea__left areaLeft">
							<figure class="areaLeft__logo">
								<img src="<%- $path %>../img/reha/logo.jpg" width="80" alt="">
							</figure>
							<div class="areaLeft__address">
								<header class="">滋賀医科大学 リハビリテーション科</header> 
								<div>
									<p class="address">〒520-2192 滋賀県大津市瀬田月輪町</p>
									<p>077-548-2252（医局）077-548-2562（外来）</p>
								</div>
								<footer class="links -hasArrow">		<a href="https://shiga-orthopaedics.com/">整形外科</a>
									<a href="http://www.shiga-med.ac.jp/hospital/doc/department/department/rehabilitation/index.html">リハビリテーション科</a>
								</footer>
							</div>
						</div>
						<div class="creditArea__right areaRight">
							<footer class="copyright">
								このサイトの情報の無断転載を禁じます。<br>
								Copyright &copy; 2018.sumsortho.com All rights reserved.
							</footer>
						</div>
					</div>
				</div>
			</section>
		</footer>
		<!-- ***** frame -->
		<div class="frame frame--h"><div class="frame frame--v"></div></div>
		<!-- ///// frame -->
		<!-- ***** nav toggle (only smartphone) -->
		<div class="navToggle"><span class="navToggle__text"></span></div>
		<!-- ///// nav toggle (only smartphone) -->
		<%- include( '_scripts.ejs' ); %>