<% 
	include( '_include/_function.ejs' );
	$path = './';
	$active = 'top';
%>
<!DOCTYPE html>
<html>
<head>
	<%- include( '_include/head.ejs' ); %>
</head>
<body id="t" class="home">
	<%- include( '_include/header.ejs' ); %>
	<section class="mainvisual js-effect">
		<div class="mainvisual__wrap">
			<h1 class="mainvisual__copy">
				<span>未来のリハビリテーション医学に貢献する</span>
				<span>多様性のある教育プログラム</span>
			</h1>
			<h2 class="mainvisual__name">
				滋賀医科大学 リハビリテーション科
			</h2>
		</div>
		<figure class="mainvisual__img">
			<img src="<%- $path %>../img/reha/reha-mv.jpg" srcset="/assets/img/reha/sp/reha-mv.jpg 768w, /assets/img/reha/reha-mv.jpg" alt="">
			<figcaption class="mainvisual__img__enTitle">
				Shiga<br>University<br>of<br>Medical<br>Science
			</figcaption>
		</figure>
		<i class="mainvisual__scroll"></i>
	</section>
	<main>
		<section class="section section--intro js-effect" id="intro">
			<div class="wrap">
				<header class="section__index">
					<h2 class="en">
						<span>I</span><span>n</span><span>t</span><span>r</span><span>o</span><br><span>d</span><span>u</span><span>c</span><span>t</span><span>i</span><span>o</span><span>n</span>
					</h2>
					<p class="ja">ご挨拶と理念</p>
				</header>
				<div class="section__content">
					<article class="introSection -ltor js-effect">
						<div class="introSection__wrap">
							<div class="introSection__text">
								<section class="introSection__child">
									<h3 class="introSection__child__index">
										小児から高齢者まで幅広いニーズを持つリハビリテーション医学
									</h3>
									<div class="introSection__child__content">
										<p>リハビリテーション医学とはさまざまな疾患、外傷などにより生じた機能障害を回復し、残存した障害を克服しながら、人々の活動を育む医学分野です。近年では「リハビリテーション」という言葉が医療や福祉の分野で盛んに用いられるようになりました。それにより一般の方の認知度もかなり上昇し、医療におけるその重要性も極めて高くなっています。とくに高齢化が急速に進んだ現在では、リハビリテーション医学・医療の対象者が、小児から高齢者まですべての年齢層に広がっています。</p>
							
										<p>リハビリテーション医学は従来の「臓器別診療型」の医療とは異なり、「人間的復権」を理念として障害のある患者さんの能力を最大限に発揮させて自立を促し、生活の質（QOL=quality of life:生活の質）を高めることを目標としています。そのため、他の診療科を含める医師や多職種の方々と協力し、患者さん一人一人を全人的に支援していく「チーム医療」の意識が必要です。リハビリテーション医学が必要となる背景は運動器障害、脳血管障害、循環器や呼吸器などの内部障害、摂食嚥下障害、小児疾患、がんなど幅広い領域に及んでいます。それぞれの疾患を治療する診療科・専門家と連携し治療を行うため、リハビリテーション医学には多くの知識と実用性を必要とします。</p>
							
									</div>
								</section>
							</div>
							<figure class="introSection__img">
								<img src="<%- $path %>/../img/reha/reha-intro-img.jpg" alt="">
							</figure>
						</div>
					</article>
					<article class="introSection -rtol js-effect">
						<div class="introSection__wrap">
							<div class="introSection__text">
								<section class="introSection__child">
									<h3 class="introSection__child__index">
										専門医資格を取得し、未来のリハビリテーション医学に貢献する
									</h3>
									<div class="introSection__child__content">
										<p>2018年度よりスタートした新専門医制度では、リハビリテーション科は18基本診療科の一つに数えられています。滋賀県では滋賀医科大学リハビリテーション科を基幹施設として専門医プログラムを展開する予定です。当科では今後も基幹施設として最先端の診療を行い、患者さんの健康に大きく寄与するとともに、今後のリハビリテーション診療に貢献する臨床、基礎研究に邁進していきます。当科に少しでも興味を持たれた学部生、研修医の先生方はぜひ一度お気軽にご相談ください。</p>
										<p class="name">
											<small>リハビリテーション科 部長 / 整形外科学講座 教授 / 今井 晋二</small>
										</p>
									</div>
								</section>
							</div>
							<figure class="introSection__img">
								<img src="<%- $path %>/../img/reha/reha-intro-imai.jpg" alt="">
							</figure>
						</div>
					</article>					
				</div>
			</div>
		</section>
		<section class="section section--programs -box js-effect" id="programs">
			<div class="wrap">
				<header class="section__index">
					<h2 class="en">
						<span>P</span><span>r</span><span>o</span><span>g</span><span>r</span><span>a</span><span>m</span><span>s</span>
					</h2>
					<p class="ja">専門研修プログラムについて</p>
				</header>
				<div class="section__content">	
					<p>リハビリテーション科専門研修プログラムは、2018年度から始まる新専門医制度のもとで、<br>リハビリテーション科専門医になるために、編纂された研修プログラムです。</p>

					<p>滋賀医科大学リハビリテーション科専門研修プログラムは、地方の立地を生かし、<br>多くの症例の経験ができ、専攻医の皆さんの多様な希望にこたえられるプログラムを提供します。</p>
					<p class="-hasArrow">
						<a href="">詳しくはこちら(PDF)</a>
					</p>
					<div class="contactBox">
						<h3 class="contactBox__index">
							医局についてのお問い合わせ
						</h3>
						<p class="contactBox__text">
							お電話にて、お手数ですがご連絡くださいませ。なお、外来直通となっております。
						</p>
						<div class="contactBox__telnum">
							<span class="contactBox__tel">
								<a href="tel:077-548-2252">077-548-2252</a>
							</span>
							<span>（医局直通）</span>
						</div>
					</div>
				</div>							
			</div>
		</section>
		<section class="section section--doctors js-effect" id="doctors">
			<div class="wrap">
				<header class="section__index">
					<h2 class="en">
						<span>D</span><span>o</span><span>c</span><span>t</span><span>o</span><span>r</span><span>s</span>
					</h2>
					<p class="ja">医師スタッフの紹介</p>
				</header>
				<div class="section__content">	
					<ul class="doctors">
						<li class="doctor doctor--imai js-effect">
							<div class="doctor__left">
								<figure class="doctorImage">
									<img src="<%- $path %>/../img/reha/reha-doctor-imai.jpg" width="200" alt=""></figure>
								<div class="doctor__left__detail">
									<h3 class="doctorName">
										今井晋二
									</h3>
									<div class="doctorWork">
										整形外科学講座 教授<br>リハビリテーション部長</div>
								</div>
							</div>
							<div class="doctor__right">
								<ul class="doctorDetail">
									<li class="doctorDetail__row">
										<h4 class="doctorDetail__th">
											卒業学部・卒年
										</h4>
										<div class="doctorDetail__td">
											滋賀医科大学　平成元年卒
										</div>
									</li>
									<li class="doctorDetail__row">
										<h4 class="doctorDetail__th">
											役職
										</h4>
										<div class="doctorDetail__td">
											整形外科学講座 教授<br>リハビリテーション部長
										</div>
									</li>
									<li class="doctorDetail__row">
										<h4 class="doctorDetail__th">
											専門分野
										</h4>
										<div class="doctorDetail__td">
											肩関節外科（内視鏡手術及び人工肩関節置換術）/ 骨代謝障害（骨粗鬆症） / 末梢神経と運動器の疼痛性疾患 / 運動器・脳血管リハビリ
										</div>
									</li>
									<li class="doctorDetail__row">
										<h4 class="doctorDetail__th">
											学会での役割
										</h4>
										<div class="doctorDetail__td">
											
											日本整形外科学会代議員 / 日本整形外科学会専門医認定委員
											日本リハビリテーション医学会代議員
											日本関節鏡・膝・スポーツ整形外科学会評議委員 / 中部日本整形外科災害外科学会評議員
											滋賀県リハビリテーション調査・研究事業専門選定委員 / 
											大津市脳卒中地域連携クリティカルパス推進会議委員 / 
											同志社女子大学大学院嘱託講師 / 京滋手外科セミナー世話人 / 滋賀県整形外科医会理事
										</div>
									</li>	
									<li class="doctorDetail__row">
										<h4 class="doctorDetail__th">
											所属学会
										</h4>
										<div class="doctorDetail__td">
											日本骨粗鬆症学会 / 日本肩関節学会 / 中部日本整形外科災害外科学会 / 日本手外科学会
										</div>
									</li>
									<li class="doctorDetail__row">
										<h4 class="doctorDetail__th">
											専門医・認定医
										</h4>
										<div class="doctorDetail__td">
											日本整形外科学会専門医 / 日本整形外科学会脊椎脊髄病医 / 日本リハビリテーション学会専門医

										</div>
									</li>
								</ul>
							</div>
						</li>
						<li class="doctor doctor--kodama js-effect">
							<div class="doctor__left">
								<figure class="doctorImage">
									<img src="<%- $path %>/../img/reha/reha-doctor-kodama.jpg" width="200" alt=""></figure>
								<div class="doctor__left__detail">
									<h3 data-en="Naruhito\AKodama" class="doctorName">
										児玉 成人
									</h3>
									<div class="doctorWork">
										リハビリテーション部准教授<br>リハビリテーション科診療科長</div>
								</div>
							</div>
							<div class="doctor__right">
								<ul class="doctorDetail">
									<li class="doctorDetail__row">
										<h4 class="doctorDetail__th">
											卒業学部・卒年
										</h4>
										<div class="doctorDetail__td">
											滋賀医科大学　平成7年卒
										</div>
									</li>
									<li class="doctorDetail__row">
										<h4 class="doctorDetail__th">
											役職
										</h4>
										<div class="doctorDetail__td">
											リハビリテーション部准教授 / リハビリテーション科診療科長
										</div>
									</li>
									<li class="doctorDetail__row">
										<h4 class="doctorDetail__th">
											専門分野
										</h4>
										<div class="doctorDetail__td">
											手外科 / 梢神経 / イクロサージャリー / 足の外科 / 瘍

										</div>
									</li>
									<li class="doctorDetail__row">
										<h4 class="doctorDetail__th">
											学会での役割
										</h4>
										<div class="doctorDetail__td">日本手外科学会代議員 / 日本マイクロサージャリー学会評議員 / 日本骨折治療学会評議員 / 中部日本整形外科災害外科学会評議員

										</div>
									</li>	
									<li class="doctorDetail__row">
										<h4 class="doctorDetail__th">
											専門医・認定医
										</h4>
										<div class="doctorDetail__td">
											日本整形外科学会専門医 / 日本手外科学会専門医 / 日本リウマチ学会専門医 / 日本リハビリテーション医学会専門医

										</div>
									</li>
								</ul>
							</div>
						</li>
						<li class="doctor doctor--kawaguchi js-effect">
							<div class="doctor__left">
								<div class="doctor__left__detail">
									<h3 class="doctorName">
										川口 民郎
									</h3>
									<div class="doctorWork">
										リハビリテーション科助教</div>
								</div>
							</div>
							<div class="doctor__right">
								<ul class="doctorDetail">
									<li class="doctorDetail__row">
										<h4 class="doctorDetail__th">
											卒業学部・卒年
										</h4>
										<div class="doctorDetail__td">
											島根大学医学部　平成12年卒
										</div>
									</li>
									<li class="doctorDetail__row">
										<h4 class="doctorDetail__th">
											役職
										</h4>
										<div class="doctorDetail__td">
											リハビリテーション科助教
										</div>
									</li>
									<li class="doctorDetail__row">
										<h4 class="doctorDetail__th">
											専門分野
										</h4>
										<div class="doctorDetail__td">
											内科学 / 循環器内科学　心臓リハビリテーション
										</div>
									</li>	
									<li class="doctorDetail__row">
										<h4 class="doctorDetail__th">
											所属学会
										</h4>
										<div class="doctorDetail__td">
											日本内科学会 / 日本循環器学会 /日本心臓リハビリテーション学会
										</div>
									</li>
									<li class="doctorDetail__row">
										<h4 class="doctorDetail__th">
											専門医・認定医
										</h4>
										<div class="doctorDetail__td">
											日本内科学会（認定内科医・指導医・総合内科専門医） / 日本循環器学会（循環器専門医） / 日本医師会（認定産業医） / 日本心臓リハビリテーション学会（心臓リハビリテーション指導士）

										</div>
									</li>									
								</ul>
							</div>
						</li>										
						<li class="doctor doctor--nakajima js-effect">
							<div class="doctor__left">
								<figure class="doctorImage">
									<img src="<%- $path %>/../img/reha/reha-doctor-nakajima.jpg" width="200" alt=""></figure>
								<div class="doctor__left__detail">
									<h3 class="doctorName">
										中島 亮
									</h3>
									<div class="doctorWork">
										リハビリテーション科助教</div>
								</div>
							</div>
							<div class="doctor__right">
								<ul class="doctorDetail">
									<li class="doctorDetail__row">
										<h4 class="doctorDetail__th">
											卒業学部・卒年
										</h4>
										<div class="doctorDetail__td">
											滋賀医科大学　平成14年卒
										</div>
									</li>
									<li class="doctorDetail__row">
										<h4 class="doctorDetail__th">
											役職
										</h4>
										<div class="doctorDetail__td">
											リハビリテーション科助教
										</div>
									</li>
									<li class="doctorDetail__row">
										<h4 class="doctorDetail__th">
											専門分野
										</h4>
										<div class="doctorDetail__td">
											肩関節 / 肘関節 / スポーツ医学
										</div>
									</li>
									<li class="doctorDetail__row">
										<h4 class="doctorDetail__th">
											所属学会
										</h4>
										<div class="doctorDetail__td">日本肩関節学会 / 日本肘関節学会
										</div>
									</li>	
									<li class="doctorDetail__row">
										<h4 class="doctorDetail__th">
											専門医・認定医
										</h4>
										<div class="doctorDetail__td">
											日本整形外科学会専門医 / 日本体育協会スポーツドクター
										</div>
									</li>
								</ul>
							</div>
						</li>									
					</ul>
				</div>							
			</div>
		</section>	
		<section class="section section--schedule -box js-effect" id="schedule">
			<div class="wrap">
				<header class="section__index">
					<h2 class="en">
						<span>S</span><span>c</span><span>h</span><span>e</span><span>d</span><span>u</span><span>l</span><span>e</span>
					</h2>
					<p class="ja">外来診察医予定表</p>
				</header>
				<div class="section__content">	
					<p>曜日によって、担当医がかわりますので<br>下記リンク先である、滋賀医科大学医学部附属病院のホームページより予めご確認くださいませ。</p>
					<p class="-hasArrow">
						<a href="http://www.shiga-med.ac.jp/hospital/doc/department/department/rehabilitation/schedule.html" target="_blank">外来診察医予定表はこちら</a>
					</p>
					<div class="contactBox">
						<h3 class="contactBox__index">
							外来への予約・お問い合わせ
						</h3>
						<p class="contactBox__text">
							お電話にて、お手数ですがご連絡くださいませ。なお、外来直通となっております。
						</p>
						<div class="contactBox__telnum">
							<span class="contactBox__tel">
								<a href="tel:077-548-2252">077-548-2670</a>
							</span>
							<span>（外来直通）</span>
						</div>
					</div>
				</div>							
			</div>
		</section>
		<section class="section section--access js-effect" id="access">
			<div class="wrap">
				<header class="section__index">
					<h2 class="en">
						<span>A</span><span>c</span><span>c</span><span>e</span><span>s</span><span>s</span>
					</h2>
					<p class="ja">アクセス</p>
				</header>
				<div class="section__content">	
					<section class="section__child -introduction">
						<table class="aTable aTable--access">
							<tr>
								<th>住所</th>
								<td>〒520-2192　滋賀県大津市瀬田月輪町</td>
							</tr>
							<tr>
								<th>最寄り駅</th>
								<td>ＪＲ東海道本線（琵琶湖線）の「瀬田駅」からはタクシーをお使いくださいませ。</td>
							</tr>									
						</table>
					</section>
					<section class="section__child -byBus">
						<h3 class="section__child__index">
							バスでお越しの場合
						</h3>
						<div class="aColumn">
							<figure class="aColumn__row">
								<img src="<%- $path %>/../img/reha/reha-access-flow.png" width="550" alt="">
							</figure>
							<div class="aColumn__row">
								<ul class="aList -check">
									<li>JR東海道本線「瀬田駅」下車</li>
									<li>瀬田駅東口より「滋賀医大」行きのバスに乗車</li>
								</ul>
								<table class="aTable aTable--access">
									<tr>
										<th>帝産バス</th>
										<td>「大学病院前」下車</td>
									</tr>
									<tr>
										<th>近江バス</th>
										<td>「滋賀医大前」下車</td>
									</tr>									
								</table>
								<ul class="-hasBlank">
									<li><a href="http://www.jr-odekake.net/" target="_blank">JR西日本の時刻と経路を調べる</a></li>
									<li><a href="http://www.teisan-qr.com/" target="_blank">帝産バス時刻表</a></li>
									<li><a href="https://ohmitetudo-bus.jorudan.biz/diagram" target="_blank">近江バス時刻表</a></li>
								</ul>				
							</div>
						</div>
					</section>	
				<section class="section__child -byCar">
						<h3 class="section__child__index">
							車でお越しの場合
						</h3>
						<div class="aColumn">
							<div class="aColumn__row">
								<iframe frameborder="0" src="https://www.google.com/maps/d/embed?mid=1Aou2F1Ukc-AdvS52yGBUStXKhH4" width="640" height="480"></iframe>
							</div>
							<div class="aColumn__row">
								<table class="aTable aTable--access">
									<tr>
										<th>高速の場合</th>
										<td>名神高速道路「瀬田東I.C」より約10分近江バス</td>
									</tr>
									<tr>
										<th>国道1号線<br>からの場合</th>
										<td>「月輪一丁目」交差点を曲がって約3km</td>
									</tr>									
								</table>
								
							</div>
						</div>
					</section>					
				</div>							
			</div>
		</section>	
		<section class="section section--contact -box js-effect" id="contact">
			<div class="wrap">
				<header class="section__index">
					<h2 class="en">
						<span>C</span><span>o</span><span>n</span><span>t</span><span>a</span><span>c</span><span>t</span>
					</h2>
					<p class="ja">お問い合わせ</p>
				</header>
				<div class="section__content">	
					<p>お電話にて、お手数ですがご連絡くださいませ。<br>
					なお、直通となっております。</p>
					<div class="contactBoxes">
						<div class="contactBox">
							<h3 class="contactBox__index">
								医局についてのお問い合わせ
							</h3>
							<p class="contactBox__text">
								お電話にて、お手数ですがご連絡くださいませ。なお、外来直通となっております。
							</p>
							<div class="contactBox__telnum">
								<span class="contactBox__tel">
									<a href="tel:077-548-2252">077-548-2252</a>
								</span>
								<span>（医局直通）</span>
							</div>
						</div>						
						<div class="contactBox">
							<h3 class="contactBox__index">
								外来への予約・お問い合わせ
							</h3>
							<p class="contactBox__text">
								お電話にて、お手数ですがご連絡くださいませ。なお、外来直通となっております。
							</p>
							<div class="contactBox__telnum">
								<span class="contactBox__tel">
									<a href="tel:077-548-2252">077-548-2670</a>
								</span>
								<span>（外来直通）</span>
							</div>
						</div>
					</div>
				</div>							
			</div>
		</section>
	</main>
	<%- include( '_include/nav.ejs' ); %>
	<%- include( '_include/footer.ejs' ); %>
</body>
</html>